#detailsMovies, #detailsTv {
    user-select: none;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 100% 
    );

    justify-content: flex-start;
    height: 100%;


    .box-img {
        position: relative;
        height: 50vh;
        width: 100%;

        .ico_arrow_back {
            position: absolute;
            width: 1.875rem;
            fill: var(--secondary);
            top: 0.9375rem;
            left: 0.125rem;
            background: var(--primary);
            border-radius: 0.3125rem;
            z-index: 2;
            cursor: pointer;

        }

        img {
           width: 100%;
           height: 100%;
           /* object-fit: cover; */
           display: block;
           
        }

    }

    .box-img::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0) 100% 
        );
        
        pointer-events: none;
    }

    .info_Movie {
    	width: 100%;
    	height: 5rem;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
        background-color: #000;
        z-index: 2;
        margin-top: -1px;

        div:nth-child(1){
            display: flex;
		    flex-direction: row;
            flex-wrap: wrap-reverse;
    		width: 100%;
    		height: 100%;
    		justify-content: space-evenly;
    		align-items: center;
            gap: 0.3125rem;
            padding: 0.3125rem;
            z-index: 2
            
        }

        div:nth-child(1) > span:nth-child(1), span:nth-child(3) {
            display: flex;
            gap: 0.3125rem;
            background: 
            var(--bg-white);
            padding: 0.125rem 0.3125rem;
            border-radius: 0.3125rem;
            outline: none;
            align-items: center;

            .ico_star {
                width: 1.25rem;
                height: 100%;
                /* padding: 0.25rem; */
            }
            
        }

        div:nth-child(1) > span:nth-child(2) {
            display: flex;
            gap: 0.3125rem;
            
            span {
                background: 
                var(--bg-white);
                padding: 0.125rem 0.3125rem;
                border-radius: 0.3125rem;
            }
            
        }

        div:nth-child(2){
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 0.625rem;
            padding-right: 0.625rem;

            span {
                display: flex;
                align-items: center;
                height: 100%;
                cursor: pointer;

                svg {
                    fill: var(--secondary);
                }
            }
        }


    }

    .title_and_description {
        padding: 0.625rem 1.25rem 1.875rem;
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;
        position: relative;


        h2 {
            font-weight: 400;
        }

        p {
            color: var(--white50);
        }

        span {
            cursor: pointer;
        }

        #more {
            position: absolute;
            right: 0.625rem;
            top: calc(100% - 15%);
        }

        #less {
            width: 15%;
            padding: 0.1875rem 0.625rem;
            background: var(--primary);
            border-radius: 0.3125rem;
        }
    }

    .authors_container {
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;
        padding: 0.625rem 0;

        span {
            font-size: 1.5rem;
            padding-left: 0.9375rem;
        }

        .box_authors {
            display: flex;
            flex-direction: row;
            width: 100vw;
            overflow-x: scroll;
            scrollbar-width: none;
            gap: 0.625rem;
            padding: 0.3125rem 0.625rem;
            align-items: center;

            img {
                width: 6.25rem;
                outline: 0.0625rem solid var(--white);
                border-radius: 0.25rem;
            }
        }
    }

}

@media screen and (width > 48rem) {
    #detailsMovies, #detailsTv {
        position: relative;
        overflow: initial;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100% 
        );

        justify-content: flex-start;
        height: 100%;

        .box-img {
            position: relative;
            height: 100vh;
            width: 100vw;

            .ico_arrow_back {
                position: absolute;
                width: 3rem;
                height: 3rem;
                fill: var(--secondary);
                top: 0.9375rem;
                left: 0.625rem;
                background: var(--primary);
                border-radius: 0.3125rem;
                z-index: 60;
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                object-position: top;
                
            
            }

        }

        .box-img::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.9) 0%,
                rgba(0, 0, 0, 0.3) 50%,
                rgba(0, 0, 0, 0.8) 100% 
            );
            
            pointer-events: none;
        }

        .info_Movie {
            position: absolute;
            top: calc(100vh - 95vh);
            z-index: 10;
            width: 100vw;
            max-width: 80rem;
            height: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: transparent;

            div:nth-child(1){
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
                justify-content: right;
                align-items: center;
                gap: 1.875rem;
                padding-right: 0.9375rem;
            }

            div:nth-child(1) > span:nth-child(1), span:nth-child(3) {
                display: flex;
                gap: 0.3125rem;
                background: 
                var(--bg-white);
                padding: 0.125rem 0.3125rem;
                border-radius: 0.3125rem;
                outline: none;
                align-items: center;

                .ico_star {
                    width: 1.25rem;
                    height: 100%;
                }
                
            }

            div:nth-child(1) > span:nth-child(2) {
                display: flex;
                gap: 0.3125rem;
                
                span {
                    background: 
                    var(--bg-white);
                    padding: 0.125rem 0.3125rem;
                    border-radius: 0.3125rem;
                }
                
            }

            div:nth-child(2){
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 0.625rem;
                padding-right: 0.625rem;

                span {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    svg {
                        fill: var(--secondary);
                    }
                }
            }


        }


        .title_and_description {
            position: relative;
            padding: 0.625rem 1.25rem 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.9375rem;
            z-index: 5;

            h2 {
                font-weight: 400;
            }

            p {
                color: var(--white50);
            }

            #more {
                position: absolute;
                right: 0.625rem;
                top: calc(100% - 20%);
            }

            #less {
                width: 3.125rem;
                padding: 0.1875rem 0.625rem;
                background: var(--primary);
                border-radius: 0.3125rem;
            }
        }

        .authors_container {
            display: flex;
            flex-direction: column;
            gap: 0.9375rem;

            span {
                font-size: 1.5rem;
                padding-left: 0.9375rem;
                text-align: left;
            }

            .box_authors {
                display: flex;
                flex-direction: row;
                max-width: 80rem;
                width: 100vw;
                overflow-x: scroll;
                scrollbar-width: none;
                gap: 0.625rem;
                padding: 0.3125rem 0.625rem;
                align-items: center;
                margin: auto;
                

                img {
                    width: 6.25rem;
                    outline: 0.0625rem solid var(--white);
                    border-radius: 0.25rem;
                }
            }
        }

        

    }
}
