.hidden.login {
    display: none;
}

.login {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;

    .container_login {
        width: 21.0625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--bg-white);
        padding: 2.25rem 0.9375rem;
        border-radius: 1.25rem;

        h1 {
            font-size: 1.25rem;
            font-weight: bold;
            color: var(--secondary);
            font-family: var(--ff);

        }

        figure {
            width: 50%;
            

            img {
                width: 100%;
            }

        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.9375rem;
            padding: 0.625rem;
            padding-bottom: 1.25rem;
            position: relative;

            #msg_error {
                position: absolute;
                top: -0.625rem;
                width: 100%;
                padding-left: 0.625rem;
                font-size: .8rem;
                font-family: var(--ff);
                font-weight: 500;
                color: #ff0000;
            }

            label {
                width: 100%;
                padding: 0.5rem 1.3125rem;
                gap: 0.625rem;
                border-radius: 1.875rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: var(--bg-input);
                cursor: pointer;

                input {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: var(--white);
                    font-family: var(--ff);
                }

                input::placeholder {
                    color: var(--white);
                    font-family: var(--ff);
                }

                input[type="password"]::-ms-reveal,
                input[type="password"]::-webkit-reveal {
                    display: none !important;
                }

                input[type="password"]::-moz-password-reveal {
                    display: none !important;
                }

                input[type="password"]::-webkit-contacts-auto-fill-button {
                    visibility: hidden !important;
                    display: none !important;
                    pointer-events: none !important;
                }

            }

            .user, .close, .open, .i_off, .i_on {
                width: 1.5rem;
                height: 1.5rem;
                fill: var(--white50);
            }

        }

    }
}