.registration_password_recovery.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    padding:1.5625rem 0 1.5625rem 0;
    gap: 0.9375rem;

    .box_form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0.9375rem;

    }

}